:root {
  --transparent-white: rgba(255, 255, 255, 0.7);
  --transparent-black: rgba(0, 0, 0, 0.7);
  --border-radius: 0.15em;
}

html, body {
  font-family: 'Gelasio', serif;
  font-size: 2vmax;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1 {
  font-size: 4vmin;
  line-height: 200%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h2 {
  font-size: 5vmin;
}

h3 {
  font-size: 3vmin;
}

a,
a:hover {
  color: var(--transparent-black);
}

header {
  background-color: var(--transparent-black);
  position: fixed;
  left: 0;
  top: 0;
}

header *, header *:hover {
  color: var(--transparent-white);
}

.container-fluid {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

section.full-screen,
div.full-screen {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
}

section.with-image {
  background-position: center;
  background-size: cover;
}

/* Header placed as a first child of the image section. */
section.with-image div:first-child {
  background-color: var(--transparent-white);
  border-radius: var(--border-radius);
  color: var(--transparent-black);
  max-width: 75%;
  padding: 1em;
}

section#index-why {
  background-image: url('./img/intro.jpg');
}

/* Stretch over the center of the page. */
#index-why-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-items: left;
  grid-column-gap: 1em;
  min-height: 50%;
}

#index-why-text input {
  display: none;
}

#index-why-text input[type=checkbox]:checked + label {
  color: black;
}

#index-why-text input[type=checkbox]:checked + label::before {
  content: '\002611\0020';
}

#index-why-text input[type=checkbox]:not(:checked) + label::before {
  content: '\002610\0020';
}

#index-why-text h3 {
  background-position: center center;
  background-size: cover;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-row: 4 / 7;
  height: 100%;
  width: 100%;
}

#index-why-text h3 a {
  background-color: var(--transparent-white);
  border-radius: var(--border-radius);
  color: var(--transparent-black);
  padding: 20%;
}

section#canberra-why,
#canberra {
  background-image: url('./img/canberra/city.jpg');
}

section#canberra-how {
  background-image: url('./img/canberra/library.jpg');
}

section#canberra-what {
  background-image: url('./img/canberra/arboretum.jpg');
}

section#edinburgh-why {
  background-image: url('./img/edinburgh/arturs-seat.jpg');
}

section#edinburgh-how,
#edinburgh {
  background-image: url('./img/edinburgh/calton-hill.jpg');
}

section#edinburgh-what {
  background-image: url('./img/edinburgh/museum.jpg');
}

section#prague-why {
  background-image: url('./img/prague/clock.jpg');
}

section#prague-how {
  background-image: url('./img/prague/boat.jpg');
}

section#prague-what,
#prague {
  background-image: url('./img/prague/city.jpg');
}

.full-screen > ul,
.full-screen > ol {
  max-width: 75%;
  min-width: 50%;
}

.full-screen > ul li,
.full-screen > ol li {
  width: 100%;
}

/* Styles to apply if there is at least one unchecked box - 'hides' all cities. */
#index-why-text input[type=checkbox]:not(:checked) ~ h3 {
  display: none;
}

/* To display the right city based on the parameter checked. */
#architecture:checked ~ #canberra,
#architecture:checked ~ #edinburgh,
#architecture:checked ~ #prague,
#art:checked ~ #canberra,
#art:checked ~ #edinburgh,
#art:checked ~ #prague,
#books:checked ~ #canberra,
#books:checked ~ #edinburgh,
#books:checked ~ #prague,
#cafes:checked ~ #canberra,
#cafes:checked ~ #edinburgh,
#cafes:checked ~ #prague,
#food:checked ~ #canberra,
#food:checked ~ #edinburgh,
#food:checked ~ #prague,
#gardens:checked ~ #canberra,
#gardens:checked ~ #edinburgh,
#gardens:checked ~ #prague,
#heritage:checked ~ #canberra,
#heritage:checked ~ #edinburgh,
#heritage:checked ~ #prague,
#opera:checked ~ #canberra,
#opera:checked ~ #edinburgh,
#opera:checked ~ #prague,
#water:checked ~ #canberra,
#water:checked ~ #edinburgh,
#water:checked ~ #prague
{
  display: grid;
}

ul.check-list {
  list-style: none;
}

ul.check-list li {
  text-indent: -1.2em;
  padding-left: 1em;
}

ul.check-list li::before {
  content: '\002610\0020';
}
